.wrapper {
}

.logo {
    width: 13rem;
    height: 5rem;
    background: url('../../asserts//VansLogoHeader.png') center;
}

.search {
}

.card {
    border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
}
