.wrapper {
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.logo {
    height: 103% !important;
}

.search {
    justify-content: left !important;

    input,
    input::placeholder {
        font-family: var(--font-family);
        color: white !important;
    }

    &>div {
        margin-left: 30px !important;
    }
}

.menu,
.search,
.card {
    color: white;
    display: flex !important;
    align-items: center;
}

.card {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
    justify-content: center;
}

.label-count {
    top: 8px !important;
    padding: 6px !important;
    left: 83px !important;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .label-count {
        top: 10px !important;
        left: 37px !important;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: 60px;
    }

    .label-count {
        top: 4px !important;
        left: 49px !important;
    }
}