.wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.logo {
    height: 64px !important;
    margin-right: -32px !important;
}

.search {
    width: 25% !important;

    & > div {
        margin-left: 30px !important;
    }
}

.card {
    border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
}
