@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --primary: #d61920;
    --black: #000;
    --white: #fff;

    --text-color: #161823;
    --font-family: 'Fjalla One', sans-serif;
    // //Default layout
    // --default-layout-header-height: 60px;
    // --default-layout-width: 1150px;
    // --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family) !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-x: overlay;
    text-transform: uppercase !important;

    h1,
    h2,
    h5,
    button {
        font-family: var(--font-family) !important;
        text-transform: uppercase !important;
    }

    button {
        cursor: pointer;
    }

    p {
        margin: 0;
    }
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

i.bordered.icon {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui.button {
    border-radius: 0 !important;
    font-weight: 200 !important;
}
