@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root {
    --primary: #d61920;
    --black: #000;
    --white: #fff;

    --text-color: #161823;
    --font-family: 'Fjalla One', sans-serif;
    // //Default layout
    // --default-layout-header-height: 60px;
    // --default-layout-width: 1150px;
    // --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family) !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-x: overlay;
    text-transform: uppercase !important;

    h1,
    h2,
    h5,
    button {
        font-family: var(--font-family) !important;
        text-transform: uppercase !important;
    }

    button {
        cursor: pointer;
    }

    p {
        margin: 0;
    }

    .ui.button {
        border-radius: 0;
        font-weight: 200;
    }

    i.bordered.icon {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui.cards>.card {
        margin: 0 !important;
        border-radius: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:not(:last-child) {
            border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
        }

        box-shadow: none;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    .ui.card>.image,
    .ui.cards>.card>.image {
        background: none;
    }
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}