.wrapper {
    width: 100% !important;
    height: 100%;
}
.content {
    display: flex !important;
}

.number {
    font-size: 6rem !important;
    opacity: 0.1;
    position: absolute;
    top: 1em;
    left: 0.3em;
}

.description {
    margin: 100px 0 0 50px !important;
    line-height: 3.3rem;
    font-size: 2rem;
    width: 40%;
    font-weight: 600;
}

.second-banner {
    width: 580px !important;
}

.elements {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    img {
        width: 250px;
    }
}

.price {
    color: red !important;
    margin: 14px 0 100px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .content {
        height: 350px;
    }
    .ui.card > .content {
        padding: 0;
    }
    .number {
        font-size: 4rem !important;
    }
    .description {
        margin: 60px 0 0 30px !important;
        font-size: 1.5rem;
        line-height: 2rem;
        width: 35%;
    }
    .elements {
        width: 65%;
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        img {
            width: 120px;
        }
    }
}
