.content {
    display: flex !important;
    height: 450px;
}

.first-banner {
    width: 870px !important;
}

.second-banner {
    width: 580px !important;
}

.number {
    font-size: 6rem !important;
    opacity: 0.1;
    position: absolute;
    top: 1em;
    left: 0.3em;
}

.description {
    margin: 100px 0 0 50px !important;
    line-height: 3.3rem;
    font-size: 2rem;
    width: 25%;
    font-weight: 600;
}

.second-banner {
    width: 580px !important;
}

.elements {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    img {
        width: 250px;
    }
}

.price {
    color: red !important;
    margin: 14px 0 100px;
    font-weight: 600;
}